{
    "openapi": "3.0.0",
    "info": {
        "title": "Documentação da API",
        "description": "Petship API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "http://api.petship.pt",
            "description": "Petship API"
        }
    ],
    "paths": {
        "/api": {
            "description": "All the routes"
        },
        "/api/adicionarstock": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "Adicionar Stock",
                "description": "Adiciona um novo produto de stock.",
                "operationId": "c5059ac43a35a0ccfd3fc4b7047c2f63",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nome": {
                                        "type": "string",
                                        "example": "Produto A"
                                    },
                                    "descricao": {
                                        "type": "string",
                                        "example": "Descrição do produto A"
                                    },
                                    "qnt_atual": {
                                        "type": "number",
                                        "example": 10
                                    },
                                    "qnt_min": {
                                        "type": "number",
                                        "example": 5
                                    },
                                    "observacoes": {
                                        "type": "string",
                                        "example": "Observações do produto A",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Produto do stock adicionado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "produto": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro na validação dos dados de entrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/utilizador/stock": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "Listar Stock de um determinado Utilizador",
                "description": "Lista todos os produtos de stock pertencentes a um determinado utilizador.",
                "operationId": "cbbf82c67945bd9feeb3791d035acf5d",
                "responses": {
                    "200": {
                        "description": "Lista de produtos do utilizador",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stocks": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/removerstock/{id}": {
            "delete": {
                "tags": [
                    "Stock"
                ],
                "summary": "Remover Stock",
                "description": "Remove um produto do stock.",
                "operationId": "98e22dbeda3e14777fa312e2995698e3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do produto do stock a ser removido",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produto do stock removido com sucesso"
                    },
                    "404": {
                        "description": "Produto do stock não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/editarstock/{id}": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "Editar Stock",
                "description": "Atualiza a quantidade atual de um produto do stock.",
                "operationId": "73d9f04c0253ddc56c9c39e49e1b6885",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do produto do stock a ser editado",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "qnt_atual": {
                                        "type": "number",
                                        "example": 20
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Produto do stock atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "produto": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro na validação dos dados de entrada"
                    },
                    "404": {
                        "description": "Produto do stock não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/novoanuncio": {
            "post": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Criar um anuncio",
                "description": "Rota para criar um anuncio, o utilizador tem de estar logado. Se o anuncio for criado com sucesso retorna o status 200",
                "operationId": "1dce6c0f5c7034abc822fc089714c2ef",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nome",
                                    "sexo",
                                    "especie",
                                    "raca",
                                    "porte",
                                    "idade",
                                    "cor",
                                    "distrito",
                                    "etiqueta"
                                ],
                                "properties": {
                                    "nome": {
                                        "example": "Rufus"
                                    },
                                    "sexo": {
                                        "example": "1"
                                    },
                                    "especie": {
                                        "example": "1"
                                    },
                                    "raca": {
                                        "example": "1"
                                    },
                                    "porte": {
                                        "example": "1"
                                    },
                                    "idade": {
                                        "example": "1"
                                    },
                                    "cor": {
                                        "example": "1"
                                    },
                                    "distrito": {
                                        "example": "Coimbra"
                                    },
                                    "etiqueta": {
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/adotar": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para adoção",
                "description": "",
                "operationId": "a5bc8d86abc86311946780dfb8690619",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/desaparecido": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais desaparecidos",
                "description": "",
                "operationId": "da7ae2ec261a1e620b7203cdd26267ce",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/petsitting": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para petsitting",
                "description": "",
                "operationId": "5ada27862e4726cd5c046ffa85ebc34e",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/animal/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para adoção",
                "description": "",
                "operationId": "6eeaaf2a04a3594255e071bc5d082cf8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/utilizador/anuncios": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar anuncios de um utilizador",
                "description": "",
                "operationId": "d676196acdb8b5fc3ea6d6c463d0df1c",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/removeranuncio/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Remover anuncio",
                "description": "",
                "operationId": "8fa18fb01189ad19f502842b39065aa3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/anuncio/num/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Dados de um anuncio (numéricos)",
                "description": "",
                "operationId": "5b1ee0564bfab367a69344bd66ae5d32",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/editaranuncio/{id}": {
            "post": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Editar anuncio",
                "description": "",
                "operationId": "d4029006a3097e865b0d616ab469fd26",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/anuncio/estado/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Alterar estado do anuncio",
                "description": "",
                "operationId": "b6de613dc0c2119ed63a0398ca52149d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/enviarmensagem": {
            "post": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Enviar mensagem a um utilizador",
                "description": "Rota para enviar mensagem a um utilizador, o utilizador tem de estar logado. Se a mensagem for enviada com sucesso retorna o status 200",
                "operationId": "f2a2fb60156538837b0fe5235594b71b",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_recebe",
                                    "mensagem"
                                ],
                                "properties": {
                                    "id_recebe": {
                                        "example": "1"
                                    },
                                    "mensagem": {
                                        "example": "Olá, tudo bem?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/mensagens/{id_recebe}": {
            "get": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Ler conversa com um utilizador",
                "description": "Rota para ler a conversa com um utilizador, o utilizador tem de estar logado. Se a conversa for lida com sucesso retorna o status 200",
                "operationId": "906b8fc05b0b2196bca1e128ff4b1fab",
                "parameters": [
                    {
                        "name": "id_recebe",
                        "in": "path",
                        "description": "Id do utilizador com quem quer ler a conversa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/conversasativas": {
            "get": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Obter conversas ativas",
                "description": "Rota para obter todas as conversas que se tem ativas (com mensagens enviadas ou recebidas). O utilizador tem de estar logado. Se as conversas forem obtidas com sucesso retorna o status 200",
                "operationId": "4b48462fa1bfb72b575e29775a59315a",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Autenticação do utilizador",
                "description": "Get the token",
                "operationId": "72e2dd71e8d5a15cf6308453f61513df",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "johndoe@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/registar": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Registar um utilizador",
                "description": "Get list of articles",
                "operationId": "index",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "the page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "order  accepts 'asc' or 'desc'",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}