{
    "openapi": "3.0.0",
    "info": {
        "title": "Documentação da API",
        "description": "Petship API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "http://api.petship.pt",
            "description": "Petship API"
        }
    ],
    "paths": {
        "/api": {
            "description": "All the routes"
        },
        "/api/publicaranimal": {
            "post": {
                "tags": [
                    "Animais"
                ],
                "summary": "Registar um animal",
                "description": "",
                "operationId": "2527b12868b5ffa6f9e590839cf1c9cd",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "data_recolha",
                                    "ferido",
                                    "agressivo",
                                    "nome",
                                    "sexo",
                                    "especie",
                                    "raca",
                                    "porte",
                                    "idade",
                                    "cor"
                                ],
                                "properties": {
                                    "data_recolha": {
                                        "example": "Coimbra"
                                    },
                                    "ferido": {
                                        "example": "1"
                                    },
                                    "agressivo": {
                                        "example": "Coimbra"
                                    },
                                    "nome": {
                                        "example": "Rufus"
                                    },
                                    "sexo": {
                                        "example": "1"
                                    },
                                    "especie": {
                                        "example": "1"
                                    },
                                    "raca": {
                                        "example": "1"
                                    },
                                    "porte": {
                                        "example": "1"
                                    },
                                    "idade": {
                                        "example": "1"
                                    },
                                    "cor": {
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/associacao/animais": {
            "get": {
                "tags": [
                    "Animais"
                ],
                "summary": "Listar animais da associação logada",
                "description": "",
                "operationId": "b7375e8ad240d92bcf3821c06ba8282f",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/removeranimal/{id}": {
            "post": {
                "tags": [
                    "Animais"
                ],
                "summary": "Remover um animal",
                "description": "",
                "operationId": "c1c76b39591f15e463ae875981bccf89",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/associacao/animal/num/{id}": {
            "get": {
                "tags": [
                    "Animais"
                ],
                "summary": "Obter dados numéricos de um animal",
                "description": "",
                "operationId": "a96a3aa223ce004b7a40ffe888f77b87",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/editaranimal/{id}": {
            "post": {
                "tags": [
                    "Animais"
                ],
                "summary": "Editar dados de um animal",
                "description": "",
                "operationId": "35405237efce3ac032e01676407748f7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "data_recolha",
                                    "ferido",
                                    "agressivo",
                                    "nome",
                                    "sexo",
                                    "especie",
                                    "raca",
                                    "porte",
                                    "idade",
                                    "cor"
                                ],
                                "properties": {
                                    "data_recolha": {
                                        "example": "Coimbra"
                                    },
                                    "ferido": {
                                        "example": "1"
                                    },
                                    "agressivo": {
                                        "example": "Coimbra"
                                    },
                                    "nome": {
                                        "example": "Rufus"
                                    },
                                    "sexo": {
                                        "example": "1"
                                    },
                                    "especie": {
                                        "example": "1"
                                    },
                                    "raca": {
                                        "example": "1"
                                    },
                                    "porte": {
                                        "example": "1"
                                    },
                                    "idade": {
                                        "example": "1"
                                    },
                                    "cor": {
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/novoanuncio": {
            "post": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Criar um anuncio",
                "description": "Rota para criar um anuncio, o utilizador tem de estar logado. Se o anuncio for criado com sucesso retorna o status 200",
                "operationId": "1dce6c0f5c7034abc822fc089714c2ef",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nome",
                                    "sexo",
                                    "especie",
                                    "raca",
                                    "porte",
                                    "idade",
                                    "cor",
                                    "distrito",
                                    "etiqueta"
                                ],
                                "properties": {
                                    "nome": {
                                        "example": "Rufus"
                                    },
                                    "sexo": {
                                        "example": "1"
                                    },
                                    "especie": {
                                        "example": "1"
                                    },
                                    "raca": {
                                        "example": "1"
                                    },
                                    "porte": {
                                        "example": "1"
                                    },
                                    "idade": {
                                        "example": "1"
                                    },
                                    "cor": {
                                        "example": "1"
                                    },
                                    "distrito": {
                                        "example": "Coimbra"
                                    },
                                    "etiqueta": {
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/adotar": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para adoção",
                "description": "",
                "operationId": "a5bc8d86abc86311946780dfb8690619",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/desaparecido": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais desaparecidos",
                "description": "",
                "operationId": "da7ae2ec261a1e620b7203cdd26267ce",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/petsitting": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para petsitting",
                "description": "",
                "operationId": "5ada27862e4726cd5c046ffa85ebc34e",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/animal/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para adoção",
                "description": "",
                "operationId": "6eeaaf2a04a3594255e071bc5d082cf8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/utilizador/anuncios": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar anuncios de um utilizador",
                "description": "",
                "operationId": "d676196acdb8b5fc3ea6d6c463d0df1c",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/removeranuncio/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Remover anuncio",
                "description": "",
                "operationId": "8fa18fb01189ad19f502842b39065aa3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/anuncio/num/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Dados de um anuncio (numéricos)",
                "description": "",
                "operationId": "5b1ee0564bfab367a69344bd66ae5d32",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/editaranuncio/{id}": {
            "post": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Editar anuncio",
                "description": "",
                "operationId": "d4029006a3097e865b0d616ab469fd26",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/anuncio/estado/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Alterar estado do anuncio",
                "description": "",
                "operationId": "b6de613dc0c2119ed63a0398ca52149d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/enviarmensagem": {
            "post": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Enviar mensagem a um utilizador",
                "description": "Rota para enviar mensagem a um utilizador, o utilizador tem de estar logado. Se a mensagem for enviada com sucesso retorna o status 200",
                "operationId": "f2a2fb60156538837b0fe5235594b71b",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_recebe",
                                    "mensagem"
                                ],
                                "properties": {
                                    "id_recebe": {
                                        "example": "1"
                                    },
                                    "mensagem": {
                                        "example": "Olá, tudo bem?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/mensagens/{id_recebe}": {
            "get": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Ler conversa com um utilizador",
                "description": "Rota para ler a conversa com um utilizador, o utilizador tem de estar logado. Se a conversa for lida com sucesso retorna o status 200",
                "operationId": "906b8fc05b0b2196bca1e128ff4b1fab",
                "parameters": [
                    {
                        "name": "id_recebe",
                        "in": "path",
                        "description": "Id do utilizador com quem quer ler a conversa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/conversasativas": {
            "get": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Obter conversas ativas",
                "description": "Rota para obter todas as conversas que se tem ativas (com mensagens enviadas ou recebidas). O utilizador tem de estar logado. Se as conversas forem obtidas com sucesso retorna o status 200",
                "operationId": "4b48462fa1bfb72b575e29775a59315a",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/adicionarstock": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "Adicionar Stock",
                "description": "Adiciona um novo produto de stock.",
                "operationId": "c5059ac43a35a0ccfd3fc4b7047c2f63",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nome": {
                                        "type": "string",
                                        "example": "Produto A"
                                    },
                                    "descricao": {
                                        "type": "string",
                                        "example": "Descrição do produto A"
                                    },
                                    "qnt_atual": {
                                        "type": "number",
                                        "example": 10
                                    },
                                    "qnt_min": {
                                        "type": "number",
                                        "example": 5
                                    },
                                    "observacoes": {
                                        "type": "string",
                                        "example": "Observações do produto A",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Produto do stock adicionado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "produto": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro na validação dos dados de entrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/utilizador/stock": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "Listar Stock de um determinado Utilizador",
                "description": "Lista todos os produtos de stock pertencentes a um determinado utilizador.",
                "operationId": "cbbf82c67945bd9feeb3791d035acf5d",
                "responses": {
                    "200": {
                        "description": "Lista de produtos do utilizador",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stocks": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/removerstock/{id}": {
            "delete": {
                "tags": [
                    "Stock"
                ],
                "summary": "Remover Stock",
                "description": "Remove um produto do stock.",
                "operationId": "98e22dbeda3e14777fa312e2995698e3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do produto do stock a ser removido",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produto do stock removido com sucesso"
                    },
                    "404": {
                        "description": "Produto do stock não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/editarstock/{id}": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "Editar Stock",
                "description": "Atualiza a quantidade atual de um produto do stock.",
                "operationId": "73d9f04c0253ddc56c9c39e49e1b6885",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do produto do stock a ser editado",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "qnt_atual": {
                                        "type": "number",
                                        "example": 20
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Produto do stock atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "produto": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro na validação dos dados de entrada"
                    },
                    "404": {
                        "description": "Produto do stock não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Login",
                "description": "Realiza o login de um utilizador.",
                "operationId": "72e2dd71e8d5a15cf6308453f61513df",
                "requestBody": {
                    "description": "Dados de login",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "example@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login bem-sucedido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "utilizador": {
                                            "type": "object"
                                        },
                                        "token": {
                                            "description": "Token de acesso",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Email não verificado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "description": "Email não verificado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Email ou password incorretos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "description": "Email ou password incorretos",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/registar": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Registar",
                "description": "Regista um novo utilizador.",
                "operationId": "007a1da2c8bc6130c0ac5b58b217d3db",
                "requestBody": {
                    "description": "Dados de registo",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nome": {
                                        "type": "string",
                                        "example": "Nome do Utilizador"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "example@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    },
                                    "tipo": {
                                        "type": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registo realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "sucesso": {
                                            "description": "Registo realizado com sucesso",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Erro de validação",
                                            "type": "string"
                                        },
                                        "errors": {
                                            "description": "Detalhes dos erros de validação",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/associacoes": {
            "get": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Listar Associações",
                "description": "Retorna uma lista de associações.",
                "operationId": "a724c60c5400aa3bf904d8e0174b4d72",
                "responses": {
                    "200": {
                        "description": "Lista de associações",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "associacoes": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/perfil/{id}": {
            "get": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Perfil do Utilizador",
                "description": "Retorna o perfil de um utilizador pelo seu ID.",
                "operationId": "b3bac95cbb44d750f3b55eadefa3cd80",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do utilizador",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perfil do utilizador",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "utilizador": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilizador não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "description": "Utilizador não encontrado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/editarperfil": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Alterar Perfil do Utilizador Particular",
                "description": "Atualiza o perfil do utilizador autenticado.",
                "operationId": "97100d2694c1ced97dd6a3576aeaccf7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nome": {
                                        "description": "Nome do utilizador",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email do utilizador",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "telefone": {
                                        "description": "Telefone do utilizador",
                                        "type": "string"
                                    },
                                    "fotografia": {
                                        "description": "Fotografia do utilizador",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "localizacao": {
                                        "description": "Localização do utilizador",
                                        "type": "string"
                                    },
                                    "distrito": {
                                        "description": "Distrito do utilizador",
                                        "type": "string"
                                    },
                                    "codigo_postal": {
                                        "description": "Código postal do utilizador",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Perfil do utilizador atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "utilizador": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilizador não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "description": "Utilizador não encontrado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/editarperfilA": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Alterar Perfil da Associação",
                "description": "Atualiza o perfil da associação (utilizador autenticado como uma associação).",
                "operationId": "f9b14b4fca761b3bd773490f4d2a6247",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nome": {
                                        "description": "Nome da associação",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email da associação",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "telefone": {
                                        "description": "Telefone da associação",
                                        "type": "string"
                                    },
                                    "fotografia": {
                                        "description": "Fotografia da associação",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "localizacao": {
                                        "description": "Localização da associação",
                                        "type": "string"
                                    },
                                    "website": {
                                        "description": "Website da associação",
                                        "type": "string"
                                    },
                                    "facebook": {
                                        "description": "Página do Facebook da associação",
                                        "type": "string"
                                    },
                                    "instagram": {
                                        "description": "Perfil do Instagram da associação",
                                        "type": "string"
                                    },
                                    "horario": {
                                        "description": "Horário de funcionamento da associação",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Perfil da associação atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "utilizador": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilizador não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "description": "Utilizador não encontrado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/forgot-password": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Esqueceu a password",
                "description": "Envia um link de redefinição de password para o email fornecido.",
                "operationId": "cf693baf1026507491f7064e20350feb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "Email do utilizador",
                                        "type": "string",
                                        "format": "email"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Link de redefinição de password enviado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Link de redefinição de password enviado com sucesso",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Os dados fornecidos são inválidos",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Redefinir password",
                "description": "Redefine a password do utilizador com base no token de redefinição e no email fornecidos.",
                "operationId": "cf0f0e65200d8e2f116f04f297dcecf6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "description": "Token de redefinição da password",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email do utilizador",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "Nova password",
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "description": "Confirmação da nova password",
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password redefinida com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Password redefinida com sucesso",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Os dados fornecidos são inválidos",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/email/verify/{id}/{hash}": {
            "get": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Verificar email",
                "description": "Verifica o email de um utilizador com base no ID do utilizador e no hash fornecidos.",
                "operationId": "1bb6c9b62845fd7f43d0a122231f4b4e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do utilizador",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "query",
                        "description": "Hash para verificação do email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Email verificado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Email verificado com sucesso",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Email não verificado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Email não verificado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/eliminarconta/{id}": {
            "delete": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Eliminar conta",
                "description": "Elimina a conta de um utilizador com base no ID do utilizador.",
                "operationId": "c6c9341cfa384b39fa07a4efee4f5c6e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do utilizador",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conta eliminada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Conta eliminada com sucesso",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilizador não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Utilizador não encontrado",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}