{
    "openapi": "3.0.0",
    "info": {
        "title": "Documentação da API",
        "description": "Petship API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://api.petship.pt",
            "description": "Petship API"
        }
    ],
    "paths": {
        "/api": {
            "description": "Rotas da API"
        },
        "/api/publicaranimal": {
            "post": {
                "tags": [
                    "Animais"
                ],
                "summary": "Registar um animal",
                "description": "",
                "operationId": "2527b12868b5ffa6f9e590839cf1c9cd",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "data_recolha",
                                    "ferido",
                                    "agressivo",
                                    "nome",
                                    "sexo",
                                    "especie",
                                    "raca",
                                    "porte",
                                    "idade",
                                    "cor"
                                ],
                                "properties": {
                                    "data_recolha": {
                                        "example": "Coimbra"
                                    },
                                    "ferido": {
                                        "example": "1"
                                    },
                                    "agressivo": {
                                        "example": "Coimbra"
                                    },
                                    "nome": {
                                        "example": "Rufus"
                                    },
                                    "sexo": {
                                        "example": "1"
                                    },
                                    "especie": {
                                        "example": "1"
                                    },
                                    "raca": {
                                        "example": "1"
                                    },
                                    "porte": {
                                        "example": "1"
                                    },
                                    "idade": {
                                        "example": "1"
                                    },
                                    "cor": {
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animal": {
                                            "$ref": "#/components/schemas/Animal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Erro de validação",
                                            "type": "string",
                                            "example": "O campo data_recolha é obrigatório."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Unauthenticated",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/associacao/animais": {
            "get": {
                "tags": [
                    "Animais"
                ],
                "summary": "Listar animais da associação logada",
                "description": "",
                "operationId": "b7375e8ad240d92bcf3821c06ba8282f",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animais": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Animal"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Unauthenticated",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/removeranimal/{id}": {
            "delete": {
                "tags": [
                    "Animais"
                ],
                "summary": "Remover um animal",
                "description": "",
                "operationId": "083429f4033d1cc099508644760c38ba",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "sucesso": {
                                            "type": "string",
                                            "example": "Animal removido com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Animal não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "type": "string",
                                            "example": "Animal não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sem permissões para remover o animal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sem permissões para remover o animal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Unauthenticated",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/associacao/animal/num/{id}": {
            "get": {
                "tags": [
                    "Animais"
                ],
                "summary": "Obter dados numéricos de um animal",
                "description": "",
                "operationId": "a96a3aa223ce004b7a40ffe888f77b87",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animal": {
                                            "$ref": "#/components/schemas/AnimalNum"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Animal não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "type": "string",
                                            "example": "Animal não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sem permissões para visualizar o animal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sem permissões para visualizar o animal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Unauthenticated",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/editaranimal/{id}": {
            "post": {
                "tags": [
                    "Animais"
                ],
                "summary": "Editar dados de um animal",
                "description": "",
                "operationId": "35405237efce3ac032e01676407748f7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "data_recolha",
                                    "ferido",
                                    "agressivo",
                                    "nome",
                                    "sexo",
                                    "especie",
                                    "raca",
                                    "porte",
                                    "idade",
                                    "cor"
                                ],
                                "properties": {
                                    "data_recolha": {
                                        "example": "Coimbra"
                                    },
                                    "ferido": {
                                        "example": "1"
                                    },
                                    "agressivo": {
                                        "example": "Coimbra"
                                    },
                                    "nome": {
                                        "example": "Rufus"
                                    },
                                    "sexo": {
                                        "example": "1"
                                    },
                                    "especie": {
                                        "example": "1"
                                    },
                                    "raca": {
                                        "example": "1"
                                    },
                                    "porte": {
                                        "example": "1"
                                    },
                                    "idade": {
                                        "example": "1"
                                    },
                                    "cor": {
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animal": {
                                            "$ref": "#/components/schemas/Animal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Animal não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "erro": {
                                            "type": "string",
                                            "example": "Animal não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sem permissões para editar o animal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sem permissões para editar o animal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Unauthenticated",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/novoanuncio": {
            "post": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Criar um anuncio",
                "description": "Rota para criar um anuncio, o utilizador tem de estar logado. É possivel enviar o id do animal para criar um anuncio para um animal já existente.",
                "operationId": "1dce6c0f5c7034abc822fc089714c2ef",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nome",
                                    "sexo",
                                    "especie",
                                    "raca",
                                    "porte",
                                    "idade",
                                    "cor",
                                    "distrito",
                                    "etiqueta"
                                ],
                                "properties": {
                                    "nome": {
                                        "example": "Rufus"
                                    },
                                    "sexo": {
                                        "example": "1"
                                    },
                                    "especie": {
                                        "example": "1"
                                    },
                                    "raca": {
                                        "example": "1"
                                    },
                                    "porte": {
                                        "example": "1"
                                    },
                                    "idade": {
                                        "example": "1"
                                    },
                                    "cor": {
                                        "example": "1"
                                    },
                                    "distrito": {
                                        "example": "Coimbra"
                                    },
                                    "etiqueta": {
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "anuncio": {
                                            "$ref": "#/components/schemas/Anuncio"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Erro de validação",
                                            "type": "string",
                                            "example": "O campo nome é obrigatório."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sem permissões",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Sem permissões",
                                            "type": "string",
                                            "example": "Não tem permissões para alterar este animal."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/adotar": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para adoção",
                "description": "",
                "operationId": "a5bc8d86abc86311946780dfb8690619",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animais": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Anuncio"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/desaparecido": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais desaparecidos",
                "description": "",
                "operationId": "da7ae2ec261a1e620b7203cdd26267ce",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animais": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Anuncio"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/petsitting": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar animais para petsitting",
                "description": "",
                "operationId": "5ada27862e4726cd5c046ffa85ebc34e",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animais": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Anuncio"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/animal/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Obter dados de um animal",
                "description": "",
                "operationId": "6eeaaf2a04a3594255e071bc5d082cf8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do animal",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "animal": {
                                            "$ref": "#/components/schemas/Anuncio"
                                        },
                                        "utilizador": {
                                            "$ref": "#/components/schemas/Utilizador"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Anuncio não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/utilizador/anuncios": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Listar anuncios de um utilizador autenticado",
                "description": "",
                "operationId": "d676196acdb8b5fc3ea6d6c463d0df1c",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "anuncios": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Anuncio"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/removeranuncio/{id}": {
            "delete": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Remover anuncio",
                "description": "",
                "operationId": "01151df0da9051dfa79a50d8d6109ae3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "sucesso": {
                                            "type": "string",
                                            "example": "Anuncio removido com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Anuncio não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Não tem permissões para remover este anuncio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/anuncio/num/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Dados de um anuncio (numéricos)",
                "description": "",
                "operationId": "5b1ee0564bfab367a69344bd66ae5d32",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "anuncio": {
                                            "$ref": "#/components/schemas/AnuncioNum"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Anuncio não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Não tem permissões para visualizar este anuncio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/editaranuncio/{id}": {
            "post": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Editar anuncio",
                "description": "",
                "operationId": "d4029006a3097e865b0d616ab469fd26",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dados do anuncio",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nome": {
                                        "type": "string",
                                        "example": "Nome do animal"
                                    },
                                    "sexo": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "especie": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "raca": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "porte": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "idade": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "cor": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "distrito": {
                                        "type": "string",
                                        "example": "Aveiro"
                                    },
                                    "etiqueta": {
                                        "type": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "anuncio": {
                                            "$ref": "#/components/schemas/Anuncio"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Anuncio não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Não tem permissões para editar este anuncio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Os dados recebidos não são válidos."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/anuncio/estado/{id}": {
            "get": {
                "tags": [
                    "Anuncios"
                ],
                "summary": "Alterar estado do anuncio",
                "description": "",
                "operationId": "b6de613dc0c2119ed63a0398ca52149d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id do anuncio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "anuncio": {
                                            "$ref": "#/components/schemas/Anuncio"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Anuncio não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Não tem permissões para alterar o estado deste anuncio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/candidaturainserir": {
            "post": {
                "tags": [
                    "Candidaturas"
                ],
                "summary": "Iniciar candidatura de adoção",
                "description": "Inicia uma candidatura de adoção a um animal.",
                "operationId": "6e10313f267fe4660de3df1b42b37a73",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id_anuncio": {
                                        "type": "number",
                                        "example": 1
                                    },
                                    "id_utilizador": {
                                        "type": "number",
                                        "example": 1
                                    },
                                    "cc": {
                                        "type": "number",
                                        "example": 12345678
                                    },
                                    "termos": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "candidatura": {
                                            "$ref": "#/components/schemas/Candidatura"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Erro de validação",
                                            "type": "string",
                                            "example": "O campo cc é obrigatório."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/dashboard/candidaturas": {
            "get": {
                "tags": [
                    "Candidaturas"
                ],
                "summary": "Listar candidaturas de adoção",
                "description": "Lista as candidaturas de adoção a animais de uma associação ou candidaturas de adoção de um utilizador.",
                "operationId": "19a234b05dc4764475e31331fa819f85",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "candidaturas": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Candidatura"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/candidatura/aceitar/{id}": {
            "post": {
                "tags": [
                    "Candidaturas"
                ],
                "summary": "Aceitar candidatura de adoção",
                "description": "Aceita uma candidatura de adoção a um animal. Apenas a associação que criou o anúncio pode aceitar uma candidatura.",
                "operationId": "65f9fa44f5b2e35f598bd10b422d8f1d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da candidatura",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "candidatura": {
                                            "$ref": "#/components/schemas/Candidatura"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Não autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/candidatura/concluir/{id}": {
            "post": {
                "tags": [
                    "Candidaturas"
                ],
                "summary": "Concluir candidatura de adoção",
                "description": "Conclui uma candidatura de adoção a um animal. Apenas a associação que criou o anúncio pode concluir uma candidatura.",
                "operationId": "64b06c315aea4255135139434f6966f0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da candidatura",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "candidatura": {
                                            "$ref": "#/components/schemas/Candidatura"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Não autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/candidatura/cancelar/{id}": {
            "post": {
                "tags": [
                    "Candidaturas"
                ],
                "summary": "Cancelar candidatura de adoção",
                "description": "Cancela uma candidatura de adoção a um animal.",
                "operationId": "92d12bce1b908fe21df29949e7b95f75",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da candidatura",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "candidatura": {
                                            "$ref": "#/components/schemas/Candidatura"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Não autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/enviarmensagem": {
            "post": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Enviar mensagem a um utilizador",
                "description": "Rota para enviar mensagem a um utilizador, o utilizador tem de estar logado. Se a mensagem for enviada com sucesso retorna o status 200",
                "operationId": "f2a2fb60156538837b0fe5235594b71b",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_recebe",
                                    "mensagem"
                                ],
                                "properties": {
                                    "id_recebe": {
                                        "example": "1"
                                    },
                                    "mensagem": {
                                        "example": "Olá, tudo bem?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "$ref": "#/components/schemas/Mensagem"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Erro de validação",
                                            "type": "string",
                                            "example": "O campo id_recebe é obrigatório."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilizador não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Utilizador não encontrado",
                                            "type": "string",
                                            "example": "Utilizador não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Não pode enviar mensagem para si próprio",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não pode enviar mensagem para si próprio",
                                            "type": "string",
                                            "example": "Não pode enviar mensagem para si próprio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/mensagens/{id_recebe}": {
            "get": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Ler conversa com um utilizador",
                "description": "Rota para ler a conversa com um utilizador, o utilizador tem de estar logado. Se a conversa for lida com sucesso retorna o status 200",
                "operationId": "906b8fc05b0b2196bca1e128ff4b1fab",
                "parameters": [
                    {
                        "name": "id_recebe",
                        "in": "path",
                        "description": "Id do utilizador com quem quer ler a conversa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagens": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Mensagem"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilizador não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Utilizador não encontrado",
                                            "type": "string",
                                            "example": "Utilizador não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Não pode ler a conversa com si próprio",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não pode ler a conversa com si próprio",
                                            "type": "string",
                                            "example": "Não pode ler a conversa com si próprio."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/conversasativas": {
            "get": {
                "tags": [
                    "Mensagens"
                ],
                "summary": "Obter conversas ativas",
                "description": "Rota para obter todas as conversas que se tem ativas (com mensagens enviadas ou recebidas). O utilizador tem de estar logado. Se as conversas forem obtidas com sucesso retorna o status 200",
                "operationId": "4b48462fa1bfb72b575e29775a59315a",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "conversas": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Mensagem"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/adicionarstock": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "Adicionar Stock",
                "description": "Adiciona um novo produto de stock.",
                "operationId": "c5059ac43a35a0ccfd3fc4b7047c2f63",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nome": {
                                        "type": "string",
                                        "example": "Produto A"
                                    },
                                    "descricao": {
                                        "type": "string",
                                        "example": "Descrição do produto A"
                                    },
                                    "qnt_atual": {
                                        "type": "number",
                                        "example": 10
                                    },
                                    "qnt_min": {
                                        "type": "number",
                                        "example": 5
                                    },
                                    "observacoes": {
                                        "type": "string",
                                        "example": "Observações do produto A",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Produto do stock adicionado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "produto": {
                                            "$ref": "#/components/schemas/Stock"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Erro de validação",
                                            "type": "string",
                                            "example": "O campo nome é obrigatório."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/utilizador/stock": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "Listar Stock de um determinado Utilizador",
                "description": "Lista todos os produtos de stock pertencentes a um determinado utilizador.",
                "operationId": "cbbf82c67945bd9feeb3791d035acf5d",
                "responses": {
                    "200": {
                        "description": "Lista de produtos do utilizador",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stocks": {
                                            "$ref": "#/components/schemas/Stock"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/removerstock/{id}": {
            "delete": {
                "tags": [
                    "Stock"
                ],
                "summary": "Remover Stock",
                "description": "Remove um produto do stock.",
                "operationId": "98e22dbeda3e14777fa312e2995698e3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do produto do stock a ser removido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produto do stock removido com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Sucesso",
                                            "type": "string",
                                            "example": "Produto do stock removido com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Produto do stock não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Stock não encontrado.",
                                            "type": "string",
                                            "example": "Stock não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/editarstock/{id}": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "Editar Stock",
                "description": "Atualiza a quantidade atual de um produto do stock.",
                "operationId": "73d9f04c0253ddc56c9c39e49e1b6885",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do produto do stock a ser editado",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "qnt_atual": {
                                        "type": "number",
                                        "example": 20
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Produto do stock removido com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Sucesso",
                                            "type": "string",
                                            "example": "Produto do stock removido com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Produto do stock não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Stock não encontrado.",
                                            "type": "string",
                                            "example": "Stock não encontrado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Erro de validação",
                                            "type": "string",
                                            "example": "O campo qnt_atual é obrigatório."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/stock/notificacoes": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "Stocks do utilizador que estão abaixo do stock mínimo",
                "description": "Retorna os stocks do utilizador que estão abaixo do stock mínimo.",
                "operationId": "2692acf92edaf4c6fae7d80faf145fe5",
                "responses": {
                    "200": {
                        "description": "Lista de produtos do utilizador",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stocks": {
                                            "$ref": "#/components/schemas/Stock"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Não autorizado",
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Login",
                "description": "Realiza o login de um utilizador.",
                "operationId": "72e2dd71e8d5a15cf6308453f61513df",
                "requestBody": {
                    "description": "Dados de login",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "example@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login bem-sucedido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "utilizador": {
                                            "$ref": "#/components/schemas/Utilizador"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|SFrEYKGln7vdvwdN09Ai9gBeA15Uu8hk7GcSAgQR"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Email não verificado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Email não verificado",
                                            "type": "string",
                                            "example": "Email não verificado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Email ou password incorretos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Email ou password incorretos",
                                            "type": "string",
                                            "example": "Email ou password incorretos"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/registar": {
            "post": {
                "tags": [
                    "Utilizadores"
                ],
                "summary": "Registar",
                "description": "Regista um novo utilizador.",
                "operationId": "007a1da2c8bc6130c0ac5b58b217d3db",
                "requestBody": {
                    "description": "Dados de registo",
                    "required": true,
                    "content": {
                        "application/json": {
[...]
